<<div class="example-container"  [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <!-- <app-nalogo class="naWhite"></app-nalogo> -->
    <mat-icon svgIcon="nalogo" style="width:40px; height:40px;" class="light"></mat-icon>
    <h1 class="example-app-name">Clean Acres Area</h1>
    <span class="example-spacer"></span>
    <app-theme-mode (changeThemeEvent)="toggleControl($event)"></app-theme-mode>
  </mat-toolbar-row>
</mat-toolbar>



  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/home-page" routerLinkActive="activebutton">Home</a>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
        <a mat-list-item routerLink="/meeting-page" routerLinkActive="activebutton">Meetings</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content" role="main" [@triggerName]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
