<mat-toolbar  style="height:150px; flex:auto; justify-content:center; background: linear-gradient(#a6aaa79d,#b0b8b113);">


      <mat-icon svgIcon="calogo" style="width:150px; height: 150px;align-items: center;"></mat-icon>
      <h1 style="font-weight:700;">Clean Acres Area of<br/> Narcotics Anonymous</h1>



</mat-toolbar>

<div class="title mat-elevation-z8">
  <h2>
    “Our message is that an addict, any addict, can stop using drugs, <br/>lose the desire to use, and find a new way to live.”
  </h2>
</div>

<div class="features">
  <mat-card class="help-card mat-elevation-z9">
    <h1>Become Inspired</h1>
    <mat-icon svgIcon="read" style="width:150px; height: 150px;"></mat-icon>
    <h2>
      A daily meditation.<br/>One for every day of the year.
    </h2>
  </mat-card>
  <mat-card class="help-card mat-elevation-z9">
    <h1>Find a Meeting</h1>
    <mat-icon svgIcon="nalogo" style="width:150px; height: 150px;"></mat-icon>
    <h2>A good first step towards your recovery</h2>
    <span style="display:inline-block;"><a mat-raised-button color="primary" routerLink="/meeting-page" style="display:inline-block"
      routerLinkActive="activebutton">
      Learn more
    </a> </span>
  </mat-card>
  </div>
  <div class="features">
  <mat-card class="help-card mat-elevation-z9">
      <h1>Talk to someone</h1>
      <mat-icon style="width:150px; height: 150px;">phone</mat-icon>
      <h2>Pick up a phone and call us</h2>
</mat-card>
</div>
<p>

Become Inspired
Just For Today daily meditation →
Read a daily meditation

FIND A MEETING
For meeting information, call MEETING SEARCH LINE at:
215-999-4670
Or text your zip code for meeting information via SMS.


Looking for a meeting outside of Chester County?
Try one of these links:
Meeting Search Using Map
Greater Philadelphia Region
NA World Services Meetings
NA Helplines
If you need to speak to another recovering addict, or need to find a meeting within the Greater Philadelphia Region of NA,
215-629-6757
(215-NAWORKS)

If you have a medical emergency,
911

Latest News
Open Mic Night @ Melton Center
NA’s got talent! November 19th, 8:30PM-12:30AM Charles A. Melton Center @ 501 E. Miner Street in West Chester Directly following the 7PM “Drug Free in Dub (” Meeting Refreshments, snacks, coffee cafe with espresso Flyer

Clean Acres Area of NA © 2010 - 2023
HomeNewsArea ServiceContact
</p>

